            <section ng-app="Language_App" ng-controller="LanguagesController">
              <form ng-submit="create()" novalidate>
                <input ng-model="bookName" type="hidden"/>
                <input ng-model="Language" type="hidden"/>
                <input ng-model="Desc" type="hidden"/>
                <md-card>
                <md-toolbar class="md-accent md-whiteframe-1dp">
                  <h2 class="md-toolbar-tools">
                    <span>Create Book</span>
                  </h2>
                </md-toolbar>
                <md-card-content layout="column">
                  <md-content>
                    
                <div layout="row">
                  
                  <md-input-container>
                    <label>Book Name</label>
                    <input ng-model="bookName" id="bookName" required>
                  </md-input-container>
                  
                  <md-input-container>
                    <label>Language</label>
                    <md-select ng-model="Language" id="Language" required>
                      <md-option value="CSharp">CSharp</md-option>
                      <md-option value="Node">Node</md-option>
                      <md-option value="Angular">Angular</md-option>
                    </md-select>
                  </md-input-container>                  
                  
                </div>

                  <md-input-container>
                    <label>Description</label>
                    <input ng-model="Desc" id="Desc" required>
                  </md-input-container>
                    
                  </md-content>
                  <div layout="row">
                    
                    <md-input-container>
                    <label>Image URL</label>
                    <input ng-model="Img" id="Img">
                  </md-input-container>                  
                    
                  <md-button class="md-raised md-primary" type="submit">
                    Submit
                  </md-button>
                    
                  </div>

                  <div ng-bind="error">
                  <strong ng-bind="error">
                  </strong>
                </div>
                </md-card-content>
                </md-card>
              </form>
          </section>